body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
