body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    /* background-color:blue ; */
}

h1 {
    margin-bottom: 20px;

}

form {
    margin-bottom: 20px;
}

label, input, button {
    margin-bottom: 10px;
    display: block;
}

input, button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 200px;
}
.btn_,.url_container,body{
    display: flex;
    justify-content: center;
    text-align: center;
}
.url_{
    width: 400px;
    border-radius: 5px;
}
button:hover {
    background-color: #0056b3;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.main_{
    height: 300px;
    padding: 50px;
    box-shadow: rgba(0,0,0,0.35)0px 5px 15px;
    border-radius: 20px;
    background: rgba(136, 182, 225, 0.496);
}
.cnt{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}